@font-face {
	font-family: "Space Mono";
	src: url('SpaceMono-Regular.ttf') format("ttf");
	font-weight: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Space Mono";
	src: url('SpaceMono-Bold.ttf') format("ttf");
	font-weight: bold;
	font-display: fallback;
}

@font-face {
	font-family: "Space Mono";
	src: url('SpaceMono-Italic.ttf') format("ttf");
	font-weight: normal;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: "Space Mono";
	src: url('SpaceMono-BoldItalic.ttf') format("ttf");
	font-weight: bold;
	font-style: italic;
	font-display: fallback;
}